# U.S. Census Demo

In [77]:
# Dependencies
import requests
import pandas as pd
from census import Census
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as st

In [78]:

# Obtained from: https://www.zillow.com/browse/homes/il/cook-county/
zip_df = pd.read_csv("ChicagoZips.csv", encoding="utf-8")


store_df=pd.read_csv("Grocery_Store_Status_UseMe.csv" , encoding="utf-8")
store_df[["Zipcode","Zipcode_long"]]=store_df.Zip_long.str.split("-",expand=True)

store_df["Zipcode"]=store_df["Zipcode"].astype("int64")
store_df=store_df[store_df["New status"]=="OPEN"]


covid_df = pd.read_csv("COVID-19_Cases__Tests__and_Deaths_by_ZIP_Code.csv", encoding="utf-8")

covid_df= covid_df.rename(columns = {"ZIP Code": "Zipcode"})

covid_df = covid_df[(covid_df["Zipcode"].str.contains("Unknown"))==False]


covid_df["Zipcode"]=covid_df["Zipcode"].astype("int64")
covid_df=covid_df.dropna(how="any")
covid_df.head()

,Zipcode,Week Number,Week Start,Week End,Cases - Weekly,Cases - Cumulative,Case Rate - Weekly,Case Rate - Cumulative,Tests - Weekly,Tests - Cumulative,...,Test Rate - Cumulative,Percent Tested Positive - Weekly,Percent Tested Positive - Cumulative,Deaths - Weekly,Deaths - Cumulative,Death Rate - Weekly,Death Rate - Cumulative,Population,Row ID,ZIP Code Location
0,60601,17,04/19/2020,04/25/2020,7.0,45.0,48.0,306.6,35.0,198,...,1349.2,0.1,0.1,1,2,6.8,13.6,14675,60601-2020-17,POINT (-87.622844 41.886262)
1,60601,38,09/13/2020,09/19/2020,7.0,204.0,48.0,1390.1,325.0,5653,...,38521.3,0.0,0.0,0,5,0.0,34.1,14675,60601-2020-38,POINT (-87.622844 41.886262)
2,60601,40,09/27/2020,10/03/2020,5.0,218.0,34.0,1485.5,393.0,6436,...,43856.9,0.0,0.0,0,6,0.0,40.9,14675,60601-2020-40,POINT (-87.622844 41.886262)
3,60601,41,10/04/2020,10/10/2020,7.0,225.0,48.0,1533.2,433.0,6869,...,46807.5,0.0,0.0,0,6,0.0,40.9,14675,60601-2020-41,POINT (-87.622844 41.886262)
4,60601,43,10/18/2020,10/24/2020,29.0,290.0,198.0,1976.1,580.0,8221,...,56020.4,0.0,0.0,0,7,0.0,47.7,14675,60601-2020-43,POINT (-87.622844 41.886262)

In [79]:
cases=covid_df.groupby(["Zipcode"])["Cases - Cumulative"].max()
tests=covid_df.groupby(["Zipcode"])["Tests - Cumulative"].max()
deaths=covid_df.groupby(["Zipcode"])["Deaths - Cumulative"].max()

covid_comps=pd.DataFrame({"Total Covid Cases": cases,
                          "Total Covid Tests": tests,
                          "Total Covid Deaths": deaths
})
covid_comps

         Total Covid Cases  Total Covid Tests  Total Covid Deaths
Zipcode
60601               5599.0             104433                  15
60602                489.0              12516                   3
60603                437.0              12056                   0
60604                477.0              15782                   0
60605               7628.0             138839                  15
60606               1215.0              34077                   9
60607               9218.0             193565                  19
60608              20805.0             395580                 203
60609              17454.0             345345                 233
60610              11375.0             230276                  59
60611               9254.0             168307                  28
60612              10661.0             251720                 109
60613              13559.0             280220                  70
60614              19307.0             402743                 121
60615              10052.0             256115                  78
60616              12500.0             274052                 142
60617              20602.0             380749                 255
60618              25592.0             475006                 182
60619              15327.0             367933                 239
60620              16827.0             396398                 298
60621               7490.0             193858                 154
60622              15258.0             294791                 103
60623              25155.0             437412                 335
60624               9674.0             226396                 118
60625              22274.0             490926                 259
60626              13669.0             410463                 215
60628              16654.0             351798                 324
60629              35080.0             531884                 359
60630              16776.0             263277                 202
60631               9914.0             163716                 138
60632              26659.0             441033                 266
60633               3236.0              59136                  30
60634              25641.0             378352                 257
60636               9090.0             213743                 168
60637              13138.0             414569                 106
60638              18837.0             258994                 199
60639              29976.0             456483                 316
60640              17625.0             427444                 200
60641              21972.0             376292                 204
60642               5653.0              92545                  31
60643              13688.0             346771                 216
60644              12864.0             332337                 218
60645              14347.0             293865                 159
60646               8940.0             154100                 101
60647              24179.0             474356                 196
60649              11026.0             295583                 226
60651              18285.0             327316                 188
60652              13337.0             223829                 141
60653               9035.0             212258                 103
60654               6014.0             103999                   9
60655               8670.0             122825                  55
60656               8611.0             111989                  83
60657              19403.0             374317                  65
60659              12118.0             229196                 132
60660              10964.0             285126                 106
60661               3044.0              49700                   2
60666                 13.0                  0                   0
60707                477.0               4388                  12
60827                101.0                807                   7

In [80]:

store_count_df=store_df.groupby("Zipcode").count()
#store_count_df

In [81]:

store_count_df=store_count_df[["Address"]]
store_count_df= store_count_df.rename(columns = {"Address": "Store Count"})
#store_count_df

In [82]:
# Import U.S. Census API Key
from config import api_key

# Create an instance of the Census library
c = Census(
    api_key,
    year = 2020
)

## Retrieve data from the U.S. Census using the Census library

References:

* Review the following page to review the Python library documentation: <https://github.com/CommerceDataService/census-wrapper>

* Review the following page to learn more about the data labels: <https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b>

In [83]:
# Run Census Search to retrieve data on all zip codes 
census_data = c.acs5.get(
    (
        "NAME",
        "B19013_001E",
        "B01003_001E",
        "B01002_001E",
        "B19301_001E",
        "B17001_002E",
        "B15003_002E",
        "B15003_017E",
        "B15003_018E", 
        "B15003_022E", 
        "B23025_004E",
        "B23025_005E"


    ),
    {'for': 'zip code tabulation area:*'}
)
#census_data

In [84]:

# Convert to DataFrame
census_df = pd.DataFrame(census_data)
census_df=census_df.rename(columns={"zip code tabulation area": "zip_codes"})
census_df

,NAME,B19013_001E,B01003_001E,B01002_001E,B19301_001E,B17001_002E,B15003_002E,B15003_017E,B15003_018E,B15003_022E,B23025_004E,B23025_005E,zip_codes
0,ZCTA5 29590,30985.0,3543.0,39.1,13288.0,869.0,65.0,721.0,440.0,162.0,1104.0,46.0,29590
1,ZCTA5 93306,54450.0,74296.0,31.3,23580.0,15853.0,1641.0,10337.0,1718.0,5098.0,28717.0,2379.0,93306
2,ZCTA5 93660,39625.0,4082.0,26.7,12475.0,1057.0,117.0,464.0,56.0,52.0,1313.0,229.0,93660
3,ZCTA5 93110,93264.0,15777.0,46.9,53375.0,1332.0,150.0,1686.0,293.0,3405.0,7692.0,286.0,93110
4,ZCTA5 93212,42983.0,22596.0,34.4,10656.0,3911.0,396.0,3256.0,1339.0,515.0,4484.0,575.0,93212
...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,ZCTA5 16623,51667.0,552.0,54.9,26369.0,80.0,5.0,168.0,18.0,29.0,201.0,18.0,16623
33116,ZCTA5 16627,45000.0,2118.0,44.6,24699.0,324.0,4.0,780.0,83.0,135.0,988.0,124.0,16627
33117,ZCTA5 16634,51500.0,315.0,46.1,25084.0,24.0,0.0,111.0,8.0,16.0,127.0,19.0,16634
33118,ZCTA5 16640,55982.0,707.0,48.6,28335.0,167.0,2.0,220.0,62.0,79.0,266.0,12.0,16640
33119,ZCTA5 17062,73036.0,4289.0,43.2,32621.0,255.0,18.0,1018.0,182.0,520.0,2075.0,69.0,17062

In [85]:
census_df["zip_codes"]=census_df["zip_codes"].astype("int64")

census_df

,NAME,B19013_001E,B01003_001E,B01002_001E,B19301_001E,B17001_002E,B15003_002E,B15003_017E,B15003_018E,B15003_022E,B23025_004E,B23025_005E,zip_codes
0,ZCTA5 29590,30985.0,3543.0,39.1,13288.0,869.0,65.0,721.0,440.0,162.0,1104.0,46.0,29590
1,ZCTA5 93306,54450.0,74296.0,31.3,23580.0,15853.0,1641.0,10337.0,1718.0,5098.0,28717.0,2379.0,93306
2,ZCTA5 93660,39625.0,4082.0,26.7,12475.0,1057.0,117.0,464.0,56.0,52.0,1313.0,229.0,93660
3,ZCTA5 93110,93264.0,15777.0,46.9,53375.0,1332.0,150.0,1686.0,293.0,3405.0,7692.0,286.0,93110
4,ZCTA5 93212,42983.0,22596.0,34.4,10656.0,3911.0,396.0,3256.0,1339.0,515.0,4484.0,575.0,93212
...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,ZCTA5 16623,51667.0,552.0,54.9,26369.0,80.0,5.0,168.0,18.0,29.0,201.0,18.0,16623
33116,ZCTA5 16627,45000.0,2118.0,44.6,24699.0,324.0,4.0,780.0,83.0,135.0,988.0,124.0,16627
33117,ZCTA5 16634,51500.0,315.0,46.1,25084.0,24.0,0.0,111.0,8.0,16.0,127.0,19.0,16634
33118,ZCTA5 16640,55982.0,707.0,48.6,28335.0,167.0,2.0,220.0,62.0,79.0,266.0,12.0,16640
33119,ZCTA5 17062,73036.0,4289.0,43.2,32621.0,255.0,18.0,1018.0,182.0,520.0,2075.0,69.0,17062

In [86]:
chicago = pd.merge(zip_df, census_df, on="zip_codes", how = "left")
chicago

,zip_codes,NAME,B19013_001E,B01003_001E,B01002_001E,B19301_001E,B17001_002E,B15003_002E,B15003_017E,B15003_018E,B15003_022E,B23025_004E,B23025_005E
0,60629,ZCTA5 60629,43372.0,107930.0,31.3,19159.0,20230.0,2884.0,22274.0,3191.0,5066.0,44200.0,6800.0
1,60618,ZCTA5 60618,85443.0,94646.0,34.4,47550.0,8382.0,1433.0,10468.0,1541.0,20699.0,55629.0,2595.0
2,60639,ZCTA5 60639,51810.0,88515.0,34.6,21614.0,15257.0,3288.0,14583.0,2615.0,5237.0,41757.0,2897.0
3,60647,ZCTA5 60647,82433.0,85658.0,32.2,51166.0,10750.0,1095.0,9665.0,1417.0,22694.0,55264.0,1961.0
4,60804,ZCTA5 60804,53750.0,81505.0,31.7,20059.0,11115.0,2469.0,14306.0,2239.0,3894.0,37960.0,1871.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,60677,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225,60678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
226,60681,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,60680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,60684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
# Need to remove NaN -- not all zip codes listed in zillow are recognized by the census. Those zip codes likely are considered part of a bigger neighboring zip. Therefore, dropping any that is missing census data. 
chicago=chicago.dropna(thresh=2)

In [88]:

# Column renaming
chicago = chicago.rename(
    columns = {
        "B01003_001E": "Population",
        "B01002_001E": "Median Age",
        "B19013_001E": "Household Income",
        "B19301_001E": "Per Capita Income",
        "B17001_002E": "Poverty Count",
        "NAME": "Name",
        "zip_codes": "Zipcode",
        "B15003_002E":	"Education_none",
        "B15003_017E":	"education_high_sc",
        "B15003_018E":	"education_ged",
        "B15003_022E":	"education_bachelor",
        "B23025_004E":	"employment_employed",
        "B23025_005E":	"employment_unemployed"


    }
)

chicago

,Zipcode,Name,Household Income,Population,Median Age,Per Capita Income,Poverty Count,Education_none,education_high_sc,education_ged,education_bachelor,employment_employed,employment_unemployed
0,60629,ZCTA5 60629,43372.0,107930.0,31.3,19159.0,20230.0,2884.0,22274.0,3191.0,5066.0,44200.0,6800.0
1,60618,ZCTA5 60618,85443.0,94646.0,34.4,47550.0,8382.0,1433.0,10468.0,1541.0,20699.0,55629.0,2595.0
2,60639,ZCTA5 60639,51810.0,88515.0,34.6,21614.0,15257.0,3288.0,14583.0,2615.0,5237.0,41757.0,2897.0
3,60647,ZCTA5 60647,82433.0,85658.0,32.2,51166.0,10750.0,1095.0,9665.0,1417.0,22694.0,55264.0,1961.0
4,60804,ZCTA5 60804,53750.0,81505.0,31.7,20059.0,11115.0,2469.0,14306.0,2239.0,3894.0,37960.0,1871.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,60602,ZCTA5 60602,226276.0,1596.0,34.0,193919.0,10.0,0.0,0.0,0.0,536.0,1429.0,5.0
174,60603,ZCTA5 60603,140125.0,1186.0,33.3,122475.0,111.0,0.0,0.0,0.0,392.0,725.0,49.0
175,60604,ZCTA5 60604,58558.0,729.0,32.3,81253.0,209.0,0.0,0.0,0.0,115.0,457.0,68.0
176,60029,ZCTA5 60029,201989.0,512.0,46.0,92595.0,18.0,0.0,27.0,10.0,124.0,220.0,11.0
177,60141,ZCTA5 60141,13817.0,324.0,70.5,14196.0,72.0,0.0,75.0,14.0,111.0,0.0,6.0

In [89]:
chicago=chicago.merge(store_count_df, on="Zipcode", how = "left")

In [90]:
chicago=chicago.dropna(how="any")
chicago.head()

,Zipcode,Name,Household Income,Population,Median Age,Per Capita Income,Poverty Count,Education_none,education_high_sc,education_ged,education_bachelor,employment_employed,employment_unemployed,Store Count
0,60629,ZCTA5 60629,43372.0,107930.0,31.3,19159.0,20230.0,2884.0,22274.0,3191.0,5066.0,44200.0,6800.0,9.0
1,60618,ZCTA5 60618,85443.0,94646.0,34.4,47550.0,8382.0,1433.0,10468.0,1541.0,20699.0,55629.0,2595.0,9.0
2,60639,ZCTA5 60639,51810.0,88515.0,34.6,21614.0,15257.0,3288.0,14583.0,2615.0,5237.0,41757.0,2897.0,14.0
3,60647,ZCTA5 60647,82433.0,85658.0,32.2,51166.0,10750.0,1095.0,9665.0,1417.0,22694.0,55264.0,1961.0,14.0
4,60804,ZCTA5 60804,53750.0,81505.0,31.7,20059.0,11115.0,2469.0,14306.0,2239.0,3894.0,37960.0,1871.0,1.0

In [91]:
chicago=chicago.merge(covid_comps, on="Zipcode", how = "left")
chicago=chicago.dropna(how="any")
chicago.head()

,Zipcode,Name,Household Income,Population,Median Age,Per Capita Income,Poverty Count,Education_none,education_high_sc,education_ged,education_bachelor,employment_employed,employment_unemployed,Store Count,Total Covid Cases,Total Covid Tests,Total Covid Deaths
0,60629,ZCTA5 60629,43372.0,107930.0,31.3,19159.0,20230.0,2884.0,22274.0,3191.0,5066.0,44200.0,6800.0,9.0,35080.0,531884.0,359.0
1,60618,ZCTA5 60618,85443.0,94646.0,34.4,47550.0,8382.0,1433.0,10468.0,1541.0,20699.0,55629.0,2595.0,9.0,25592.0,475006.0,182.0
2,60639,ZCTA5 60639,51810.0,88515.0,34.6,21614.0,15257.0,3288.0,14583.0,2615.0,5237.0,41757.0,2897.0,14.0,29976.0,456483.0,316.0
3,60647,ZCTA5 60647,82433.0,85658.0,32.2,51166.0,10750.0,1095.0,9665.0,1417.0,22694.0,55264.0,1961.0,14.0,24179.0,474356.0,196.0
5,60632,ZCTA5 60632,46937.0,86715.0,31.4,18927.0,13916.0,2944.0,18401.0,2417.0,4679.0,36258.0,4790.0,10.0,26659.0,441033.0,266.0

In [92]:
chicago["Stores Per Capita"] = (chicago["Store Count"]/chicago["Population"])*100
chicago["Poverty Rate"] = (chicago["Poverty Count"]/chicago["Population"])*100
chicago["Unemployment Rate"] = (chicago["employment_unemployed"]/chicago["Population"])*100
chicago["No Education Rate"] = (chicago["Education_none"]/chicago["Population"])*100
chicago["High School Education Rate"] = (chicago["education_high_sc"]/chicago["Population"])*100
chicago["GED Rate"] = (chicago["education_ged"]/chicago["Population"])*100
chicago["Bachelors Education Rate"] = (chicago["education_bachelor"]/chicago["Population"])*100
chicago["Covid Case Rate"] = (chicago["Total Covid Cases"]/chicago["Population"])*100
chicago["Covid Test Rate"] = (chicago["Total Covid Tests"]/chicago["Population"])*100
chicago["Covid Death Rate"] = (chicago["Total Covid Deaths"]/chicago["Population"])*100
chicago

,Zipcode,Name,Household Income,Population,Median Age,Per Capita Income,Poverty Count,Education_none,education_high_sc,education_ged,...,Stores Per Capita,Poverty Rate,Unemployment Rate,No Education Rate,High School Education Rate,GED Rate,Bachelors Education Rate,Covid Case Rate,Covid Test Rate,Covid Death Rate
0,60629,ZCTA5 60629,43372.0,107930.0,31.3,19159.0,20230.0,2884.0,22274.0,3191.0,...,0.008339,18.743630,6.300380,2.672102,20.637450,2.956546,4.693783,32.502548,492.804596,0.332623
1,60618,ZCTA5 60618,85443.0,94646.0,34.4,47550.0,8382.0,1433.0,10468.0,1541.0,...,0.009509,8.856159,2.741796,1.514063,11.060161,1.628172,21.869915,27.039706,501.876466,0.192296
2,60639,ZCTA5 60639,51810.0,88515.0,34.6,21614.0,15257.0,3288.0,14583.0,2615.0,...,0.015817,17.236627,3.272892,3.714625,16.475174,2.954302,5.916511,33.865447,515.712591,0.357002
3,60647,ZCTA5 60647,82433.0,85658.0,32.2,51166.0,10750.0,1095.0,9665.0,1417.0,...,0.016344,12.549908,2.289337,1.278339,11.283243,1.654253,26.493731,28.227369,553.778982,0.228817
5,60632,ZCTA5 60632,46937.0,86715.0,31.4,18927.0,13916.0,2944.0,18401.0,2417.0,...,0.011532,16.047973,5.523842,3.395030,21.220089,2.787292,5.395837,30.743239,508.600588,0.306752
6,60617,ZCTA5 60617,43642.0,82101.0,36.7,22736.0,19052.0,1288.0,14595.0,1902.0,...,0.009744,23.205564,5.695424,1.568799,17.776885,2.316659,8.027917,25.093482,463.756836,0.310593
7,60608,ZCTA5 60608,57183.0,80011.0,33.0,25703.0,11491.0,2108.0,11755.0,2020.0,...,0.016248,14.361775,3.438277,2.634638,14.691730,2.524653,14.275537,26.002675,494.407019,0.253715
8,60625,ZCTA5 60625,73114.0,78820.0,34.7,39392.0,8922.0,1290.0,8557.0,1409.0,...,0.005075,11.319462,3.737630,1.636640,10.856382,1.787617,22.786095,28.259325,622.844456,0.328597
9,60623,ZCTA5 60623,34714.0,77732.0,32.9,16840.0,21125.0,2078.0,13872.0,1839.0,...,0.009005,27.176710,5.094427,2.673288,17.845932,2.365821,5.540833,32.361190,562.718057,0.430968
10,60634,ZCTA5 60634,72507.0,75604.0,40.6,32294.0,6548.0,1339.0,14520.0,2199.0,...,0.006613,8.660917,2.588487,1.771070,19.205333,2.908576,12.364425,33.914872,500.439130,0.339929
11,60657,ZCTA5 60657,94722.0,70489.0,31.1,78274.0,5407.0,144.0,1536.0,416.0,...,0.008512,7.670700,2.671339,0.204287,2.179063,0.590163,36.834116,27.526281,531.028955,0.092213
12,60614,ZCTA5 60614,117251.0,72391.0,30.4,89933.0,6074.0,139.0,1695.0,265.0,...,0.013814,8.390546,2.012681,0.192013,2.341451,0.366068,32.725063,26.670442,556.344021,0.167148
13,60620,ZCTA5 60620,39499.0,68761.0,39.4,21225.0,16649.0,432.0,11782.0,1986.0,...,0.013089,24.212853,7.179942,0.628263,17.134713,2.888265,8.083070,24.471721,576.486671,0.433385
14,60641,ZCTA5 60641,67599.0,70163.0,36.6,32542.0,7875.0,1571.0,10004.0,1912.0,...,0.004276,11.223864,3.109901,2.239072,14.258227,2.725083,14.851132,31.315651,536.311161,0.290752
15,60640,ZCTA5 60640,59516.0,69726.0,37.0,43200.0,13267.0,730.0,5832.0,881.0,...,0.012908,19.027336,2.823911,1.046955,8.364168,1.263517,27.783036,25.277515,613.033875,0.286837
16,60628,ZCTA5 60628,44410.0,65008.0,39.4,21980.0,14952.0,433.0,10316.0,1543.0,...,0.004615,23.000246,9.614201,0.666072,15.868816,2.373554,8.832759,25.618385,541.161088,0.498400
17,60609,ZCTA5 60609,40324.0,60551.0,33.9,21017.0,15997.0,1544.0,12222.0,1421.0,...,0.008258,26.419052,7.423494,2.549917,20.184638,2.346782,6.442503,28.825288,570.337402,0.384800
18,60651,ZCTA5 60651,41107.0,63679.0,33.9,19526.0,15929.0,1066.0,12417.0,1409.0,...,0.004711,25.014526,5.364406,1.674021,19.499364,2.212660,5.069175,28.714333,514.009328,0.295231
19,60619,ZCTA5 60619,40762.0,61372.0,41.9,25520.0,14750.0,426.0,9524.0,1781.0,...,0.006518,24.033761,7.923809,0.694128,15.518477,2.901975,11.956593,24.973929,599.512807,0.389428
20,60638,ZCTA5 60638,68041.0,57057.0,38.3,31202.0,4928.0,522.0,11719.0,1599.0,...,0.008763,8.636977,4.390346,0.914875,20.539110,2.802461,10.563121,33.014354,453.921517,0.348774
21,60630,ZCTA5 60630,78703.0,55692.0,40.1,37240.0,3918.0,710.0,8719.0,1356.0,...,0.008978,7.035122,2.932199,1.274869,15.655749,2.434820,20.435610,30.122818,472.737557,0.362709
22,60622,ZCTA5 60622,106128.0,52957.0,32.2,67985.0,4984.0,502.0,3530.0,548.0,...,0.005665,9.411409,2.230111,0.947939,6.665785,1.034802,35.953698,28.812055,556.661065,0.194497
23,60626,ZCTA5 60626,45632.0,51017.0,34.3,29927.0,10187.0,614.0,4566.0,1260.0,...,0.011761,19.967854,2.577572,1.203520,8.949958,2.469765,19.764000,26.793030,804.561225,0.421428
24,60613,ZCTA5 60613,84463.0,51399.0,33.3,65591.0,4950.0,386.0,2306.0,250.0,...,0.009728,9.630538,2.612891,0.750987,4.486469,0.486391,34.346972,26.379891,545.185704,0.136189
25,60649,ZCTA5 60649,36130.0,47084.0,38.1,27762.0,13298.0,474.0,6883.0,1198.0,...,0.004248,28.243140,8.077054,1.006711,14.618554,2.544389,10.496135,23.417722,627.778014,0.479993
26,60616,ZCTA5 60616,61843.0,52557.0,37.9,39779.0,10033.0,1482.0,6495.0,651.0,...,0.011416,19.089750,2.998649,2.819796,12.358011,1.238655,17.434405,23.783702,521.437677,0.270183
27,60643,ZCTA5 60643,69782.0,48572.0,42.7,37263.0,6535.0,242.0,6378.0,799.0,...,0.008235,13.454253,5.050235,0.498229,13.131022,1.644981,14.306596,28.180845,713.931895,0.444701
28,60645,ZCTA5 60645,62989.0,46924.0,36.6,31614.0,6942.0,976.0,4692.0,859.0,...,0.004262,14.794135,3.034694,2.079959,9.999148,1.830620,20.680249,30.574972,626.257352,0.338846
29,60644,ZCTA5 60644,28033.0,45919.0,36.5,17691.0,14310.0,745.0,10197.0,1238.0,...,0.006533,31.163571,7.129946,1.622422,22.206494,2.696052,4.734424,28.014547,723.746162,0.474749
30,60637,ZCTA5 60637,30149.0,46621.0,31.0,28292.0,14934.0,247.0,5304.0,1083.0,...,0.008580,32.032775,7.488042,0.529804,11.376847,2.322987,8.710667,28.180434,889.232320,0.227365
31,60659,ZCTA5 60659,54807.0,43843.0,34.8,24645.0,8242.0,1391.0,5254.0,845.0,...,0.006843,18.798896,3.320941,3.172684,11.983669,1.927332,15.895354,27.639532,522.765322,0.301074
32,60660,ZCTA5 60660,53365.0,45131.0,35.2,37791.0,6552.0,488.0,4429.0,900.0,...,0.006647,14.517737,2.760852,1.081297,9.813654,1.994195,21.938357,24.293723,631.774169,0.234872
33,60707,ZCTA5 60707,64790.0,42434.0,40.0,31849.0,2888.0,736.0,7369.0,839.0,...,0.009426,6.805863,2.719517,1.734458,17.365792,1.977188,11.768865,1.124099,10.340764,0.028279
34,60652,ZCTA5 60652,71267.0,42296.0,36.6,26594.0,5809.0,699.0,6927.0,1307.0,...,0.002364,13.734159,5.470967,1.652639,16.377435,3.090127,8.180443,31.532533,529.196614,0.333365
35,60610,ZCTA5 60610,95994.0,40954.0,33.4,92334.0,4234.0,75.0,2107.0,334.0,...,0.017092,10.338428,1.635982,0.183132,5.144797,0.815549,34.096792,27.775065,562.279631,0.144064
36,60615,ZCTA5 60615,44658.0,41198.0,34.7,40185.0,10747.0,272.0,2881.0,452.0,...,0.009709,26.086218,4.519637,0.660226,6.993058,1.097141,19.243653,24.399243,621.668528,0.189330
37,60624,ZCTA5 60624,25648.0,35054.0,33.5,15133.0,13742.0,197.0,6118.0,1077.0,...,0.008558,39.202373,8.809266,0.561990,17.453072,3.072403,4.199235,27.597421,645.849261,0.336623
38,60611,ZCTA5 60611,108413.0,33937.0,38.4,114009.0,3366.0,62.0,1022.0,44.0,...,0.011787,9.918378,1.894687,0.182691,3.011462,0.129652,33.989451,27.268173,495.939535,0.082506
39,60653,ZCTA5 60653,34621.0,33574.0,35.1,30773.0,9899.0,140.0,3966.0,769.0,...,0.005957,29.484125,7.610055,0.416989,11.812712,2.290463,13.698100,26.910705,632.209448,0.306785
40,60612,ZCTA5 60612,44538.0,32240.0,34.1,33583.0,9215.0,262.0,3928.0,741.0,...,0.003102,28.582506,5.561414,0.812655,12.183623,2.298387,15.145782,33.067618,780.769231,0.338089
41,60631,ZCTA5 60631,102936.0,28864.0,42.5,52203.0,1409.0,216.0,4953.0,419.0,...,0.003465,4.881513,1.177938,0.748337,17.159784,1.451635,20.700527,34.347284,567.197894,0.478104
42,60636,ZCTA5 60636,26598.0,30039.0,40.5,17552.0,9303.0,369.0,7028.0,1258.0,...,0.006658,30.969739,9.903792,1.228403,23.396252,4.187889,4.886980,30.260661,711.551650,0.559273
43,60607,ZCTA5 60607,103173.0,30306.0,30.4,61065.0,5063.0,80.0,1195.0,203.0,...,0.009899,16.706263,4.652544,0.263974,3.943114,0.669834,29.815878,30.416419,638.701907,0.062694
44,60646,ZCTA5 60646,100670.0,29043.0,41.9,53726.0,1883.0,158.0,3068.0,451.0,...,0.010330,6.483490,2.303481,0.544021,10.563647,1.552870,21.853803,30.781944,530.592570,0.347760
45,60655,ZCTA5 60655,99264.0,27771.0,39.8,43820.0,1104.0,56.0,3195.0,441.0,...,0.003601,3.975370,2.110115,0.201649,11.504807,1.587987,17.248209,31.219618,442.277916,0.198048
46,60605,ZCTA5 60605,109194.0,30950.0,34.1,81850.0,1821.0,98.0,820.0,123.0,...,0.009693,5.883683,3.331179,0.316640,2.649435,0.397415,26.933764,24.646204,448.591276,0.048465
47,60621,ZCTA5 60621,23019.0,26736.0,36.6,15127.0,10541.0,350.0,5407.0,990.0,...,0.007481,39.426242,9.051466,1.309096,20.223668,3.702873,4.664123,28.014662,725.082286,0.576002
48,60827,ZCTA5 60827,34878.0,28327.0,32.0,19581.0,8658.0,386.0,4289.0,786.0,...,0.003530,30.564479,8.761959,1.362658,15.141032,2.774738,4.818724,0.356550,2.848872,0.024711
49,60642,ZCTA5 60642,120442.0,20191.0,31.8,70863.0,1518.0,198.0,1174.0,270.0,...,0.004953,7.518201,3.432222,0.980635,5.814472,1.337229,40.998465,27.997623,458.347779,0.153534
50,60656,ZCTA5 60656,68931.0,28982.0,39.3,38960.0,2518.0,261.0,4917.0,427.0,...,0.006901,8.688151,2.439445,0.900559,16.965703,1.473328,20.837071,29.711545,386.408805,0.286385
51,60654,ZCTA5 60654,128101.0,20812.0,33.2,114428.0,1524.0,6.0,528.0,79.0,...,0.009610,7.322698,2.114165,0.028830,2.536998,0.379589,41.687488,28.896790,499.706900,0.043244
52,60601,ZCTA5 60601,109625.0,14513.0,34.2,110753.0,1240.0,0.0,203.0,81.0,...,0.027561,8.544064,2.446083,0.000000,1.398746,0.558120,29.849101,38.579205,719.582443,0.103356
53,60661,ZCTA5 60661,125365.0,10734.0,31.6,89810.0,728.0,39.0,285.0,0.0,...,0.037265,6.782187,0.838457,0.363331,2.655115,0.000000,37.031861,28.358487,463.014720,0.018632
54,60603,ZCTA5 60603,140125.0,1186.0,33.3,122475.0,111.0,0.0,0.0,0.0,...,0.084317,9.359191,4.131535,0.000000,0.000000,0.000000,33.052277,36.846543,1016.526138,0.000000

In [76]:
# Save the DataFrame as a CSV
# Note: To avoid any issues later, use encoding="utf-8"
#census_pd.to_csv("census_data.csv", encoding="utf-8", index=False)